
.lgBody {
  max-width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  .lgContent {
    display: flex;
    justify-content: space-between;
    .lgLeftContainer {
      margin-top: 20vh;
      width: 50%;
      margin-left: 5%;
      .lgResName {
        font-size: 3rem;
        font-weight: bold;
        color: #3498db;
      }

      .lgResDes {
        margin-top: 3vh;
        max-width: 75%;
        font-size: 1.2rem;
      }

      .lg4flex {
        // position: absolute;
        // bottom: 20vh;
        margin-top: 35%;
        font-size: 1.2rem;
      }
    }
    .lgRightContainer {
      background-color: #fff;
      margin-top: 20vh;
      width: 50%;
      min-width: fit-content;
      height: 35vh;
      min-height: 255px;
      margin-right: 5%;
      border-radius: 15px;
      .lgBox {
        height: 60%;
        width: 100%;
        // border-bottom: 1px solid black;
        input {
          width: 90%;
          height: 45px;
          border: 1px #bdc3c7 solid;
          padding-left: 25px;
          border-radius: 10px;
          background-color: #fff;
        }
        .lgAccountBox {
          width: 80%;
          margin: 2vh auto;
          margin-top: 5vh;
        }
        .lgPasswordBox {
          width: 80%;
          margin: 2vh auto;
        }
        .lgLoginButtonBox {
          width: 80%;
          margin: 2vh auto;
          input {
            width: 90%;
            margin-top: 4vh;
            background-color: #3498db;
            color: #fff;
            font-size: 1.3rem;
            border: none;
            border-radius: 10px;
            padding: 0;
          }
          button {
            width: 102%;
            margin-top: 4vh;
            background-color: #3498db;
            color: #fff;
            font-size: 1.3rem;
            border: none;
            border-radius: 10px;
            padding: 0;
            height: 45px;
            cursor: pointer;
            &:hover {
              background-color: #006bb3;
            }
          }
        }
      }
      .lgRegisterBox {
        border-top: #3498db 1px solid;
        width: 90%;
        margin: 0 auto;
        input {
          height: 45px;
          width: 81.5%;
          margin-left: 2.3vw;
          margin-top: 5vh;
          border-radius: 10px;
          border: none;
          background-color: #2ecc71;
          color: #fff;
          font-size: 1.3rem;
        }
        button {
          height: 45px;
          width: 81.5%;
          margin-left: 2.3vw;
          margin-top: 5vh;
          border-radius: 10px;
          border: none;
          background-color: #2ecc71;
          color: #fff;
          font-size: 1.3rem;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .lgBody{
    .lgContent{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .lgLeftContainer{
        width:90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 12vh;
        .lg4flex{
          position: absolute;
          bottom: 20vh;
          left: calc(50% - 140px);
        }
      }
      .lgRightContainer{
        width: 90%;
        margin-top: 5vh;
        margin: 5vh auto 0 auto;
      }
    }
  }
}