.bWrapper {
    background-color: #ecf0f1;
    position: relative;
    min-height: calc(100vh - 80px);
    // overflow-y: scroll;
}

.TopBar {
    .mTopBar {
        // margin-left: 4%;
        width: 100%;

        .bText {
            display: flex;
            align-items: center;
            // margin-left: 1.5%;
            input {
                width: 120px;
                margin-left: 15px;
                padding: 5px 10px;
                font-size: 1rem;
                border-radius: 10px;
                border: none;
            }

            .bTotalIncome {
                padding: 5px;
                margin-left: 10px;
            }
        }
    }
}

.bBody {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: calc(100vh - 120px);

    .emptyCart {
        font-size: 2rem;

        p {
            margin: 0 auto;
            width: fit-content;
        }
    }

    .bMarginTop {
        height: 40px;
    }

    .bItem {
        min-height: 200px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: flex;
        border: 1px solid black;
        border-radius: 20px;

        .bItemLeftContainer {
            width: 50%;
            border-right: 1px dotted black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 20px;
        }

        .bItemRightContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;

            .bTopTitle {
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 2px solid #f04d4d;
            }

            .bFoodItem {
                width: 90%;
                margin: 0 auto;
                display: flex;
                margin-bottom: 10px;

                // justify-content: space-between;
                .bFoodName {
                    width: 33%;
                    word-wrap: break-word;
                }

                .bFoodOption {
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .bFoodQuantity {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }
            }

            .bPrintButton {
                display: flex;
                align-self: end;

                button {
                    border: 1px #f04d4d solid;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 10px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.dropdown {
    min-width: 120px;
    margin-left: 12px;
    padding: 5px 20px;
    background-color: #ecf0f1;
    color: #000;
    align-self: center;
    position: relative;
    display: inline-block;
    border-radius: 8px;
}

.dropdownWrapper {
    position: absolute;

}

.dropdownContent {
    display: block;
    padding: 5px;
    // position: absolute;
    background-color: #f9f9f9;
    color: #000;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#submitButton {
    width: 90px;
    height: 30px;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-left: 10px;
}

#submitButton:active {
    background-color: #f04d4d;
}


@media (max-width: 768px) {
    .bWrapper {
        .blackBar {
            .TopBar {
                .mTopBar {
                    .bText {
                        label {
                            display: none;
                        }
                        input{
                            margin-left: 0;
                            font-size: 0.9rem;
                            width: 105px;
                        }
                        .bTotalIncome {
                            display: none;
                        }

                        .dropdown {
                            min-width: 0;
                            margin-left: 5px;
                            #cashier{
                                width: 125px;
                            }
                        }
                        #submitButton{
                            width: 85px;
                        }
                    }
                }
            }
        }
        .bBody{
            .bMarginTop{
                height: 20px;
            }
            .emptyCart{
                font-size: 1.5rem;
            }
            .bItem{
                width: 96%;
                flex-direction: column;
                .bItemLeftContainer{
                    width: 95%;
                    padding: 10px;
                    margin: 0;
                    border-bottom: 1px solid black;
                    border-right: 0;
                }
                .bItemRightContainer{
                    margin: 10px 0;
                    width: 100%;
                    .bFoodItem{
                        width: 95%;
                    }
                    .bTopTitle{
                        width: 95%;
                    }
                    .bPrintButton{
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}
.needClick{
    background-color: #f04d4d;
    color: #fff;
    display: inline;
}
.Hiden{
    display: none;
}