.bWrapper{
    background-color: #ecf0f1;
    position: relative;
    min-height: calc(100vh - 80px);
}
.TopBar{
    .mTopBar{
        margin-left: 4%;
        .bText{
            input{
                width: 120px;
                margin-left:15px;
                padding: 5px 10px;
                font-size: 1rem;
                border-radius: 10px;
                border: none;
            }
        }
    }
}
.bBody {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: calc(100vh - 190px);
    .emptyCart{
        font-size: 2rem;
        p{
            margin: 0 auto;
            width: fit-content;
        }
    }
    .bMarginTop {
        height: 40px;
    }

    .bItem {
        min-height: 200px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: flex;
        border: 1px solid black;
        border-radius: 20px;
        .bItemLeftContainer {
            width: 50%;
            border-right: 1px dotted black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 20px;
        }

        .bItemRightContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;

            .bTopTitle {
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 2px solid #f04d4d;
            }

            .bFoodItem {
                width: 90%;
                margin: 0 auto;
                display: flex;
                margin-bottom: 10px;
                // justify-content: space-between;
                .bFoodName{
                    width: 33%;
                    word-wrap: break-word;
                }
                .bFoodOption{
                        width: 33%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                }
                .bFoodQuantity{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }
            }

            .bPrintButton {
                display: flex;
                align-self: end;
                button{
                    border: 1px #f04d4d solid;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 10px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
