.hAllTable {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    align-content: flex-start;
    button {
        cursor: pointer;
        position: relative;
        height: 70px;
        width: 70px;
        margin: 5% 5% 5% 5%;
        border: none;
        background-color: transparent;

        img {
            width: 120%;
            height: auto;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            color: #000;
            font-size: 1rem;
            padding-top: 3px;
            width: 60px;
            margin-left: 5px;
        }
    }

    .hAddTable {
        border: 2px black dashed;
        border-radius: 10px;
        
        p {
            margin: 0;
            font-size: 2.5rem;
        }
    }
}
.hAddTableBox {
    margin: 4% 5% 5% 5%;
    .blackBorderBox{
        display: flex;
        margin: 5% 0 5% 5%;
        border: 1px black solid;
        border-radius: 10px;
    }
    input {
      height: 68px;
      width: 100px;
    //   margin: 5% 0 5% 5%;
    margin: 2px;
    //   border: 1px black solid;
      // border-right: none;
      border: none;
      border-radius: 10px;
      padding-left: 10px;
    //   border-top-left-radius: 10px;
    //   border-bottom-left-radius: 10px;
    }
  
    .hAcpBtn {
      display: flex;
      height: 74px;
      margin-right: 10px;
    //   margin: 5% 5% 5% 0;
      align-items: center;
    //   border: 1px black solid;
      border-left: 1px black solid;
    //   border-top-right-radius: 10px;
    //   border-bottom-right-radius: 10px;
      cursor: pointer;
  
      p {
        padding: 10px 10px;
        font-size: 1.1rem;
        // background-color: #f04d4d;
        // border-radius: 5px;
      }
    }
  }