.sbtBlackBar {
    height: 60px;
    background-color: #202124;
    display: flex;
    align-items: center;

    .sbtBlackBarItem {
        display: flex;
        align-items: center;
        background-color: #ecf0f1;
        width: 30vw;
        // text-align: center;
        height: 30px;
        justify-content: space-around;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-right: 10px;
    }

    .sbtBlackBarText {
        color: #ecf0f1;
        text-transform: capitalize;

        span {
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0px 5px;
        }
    }

    #switchShowPayBill {
        padding: 10px;
        border: none;
        border-radius: 10px;
    }
}

.sbtFilterBar {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .sbtFilterItem {
        min-width: 100px;
        height: 30px;
        border-radius: 8px;
        width: 30%;
        font-size: 0.8rem;
        margin: 15px 0 0 0;
        border: none;
    }

    .active {
        background-color: #1BAC4B;
        border: none;
        color: #fff;
    }
}

.sbtCallStaffRequest{
    display: flex;
    width: 90%;
    margin:20px 5%;
    border: 1px solid black;
    border-radius: 10px;
    .sbtCSRLeft{
        width: 80%;
        padding: 5px;
    }
    .sbtCSRRight{
        min-width: 40px;
        display: flex;
        width: 20%;
        padding: 5px;
        border-left: 1px solid black;
        img{
            margin-left: calc(50% - 20px);
            width: 40px;
            align-self: center;
        }
    }
    .hided {
        display: none;
    }
}

.addEffect1 {}

.addEffect2 {
}


.GroupBox {
    height: calc(100vh - 140px);
    min-height: 680px ;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.firstGroup,
.secondGroup,
.thirdGroup,
.fourthGroup,
.fifthGroup,
.sixthGroup {
    display: flex;
    width: 100vw;
    justify-content: space-around;

    .tableBox {
        display: flex;
        width: 30%;
        height: 100px;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 10px;

        .tableTitle {
            width: 30%;
            border-right: 1px solid black;
            display: flex;
            justify-content: center;

            span {
                align-self: center;
                font-size: 25px;
            }
        }

        .tableSubTitle {
            width: 70%;

            .tableIcon {
                position: relative;
                width: 100%;
                margin-top: 3px;
                height: 21px;

                .tableBillInProGressIcon {
                    left: 2%;
                    min-height: 23px;
                    position: absolute;
                    border-radius: 5px;
                    min-width: 30%;
                    text-align: center;
                    background-color: #3498db;
                }

                .tableBillMoneyIcon {
                    right: calc(50% - 15%);
                    min-height: 23px;
                    position: absolute;
                    border-radius: 5px;
                    min-width: 30%;
                    text-align: center;
                    background-color: #0be881;
                }

                .tableCallStaffIcon {
                    right: 2%;
                    min-height: 23px;
                    position: absolute;
                    border-radius: 15px;
                    min-width: 30%;
                    text-align: center;
                    background-color: #f04d4d;

                    img {
                        margin-top: 4px;
                        margin-left: 0.5px;
                        object-fit: cover;
                    }
                }
            }

            .tableListMoney {
                margin-top: 6px;
                margin-left: 2%;

                div {
                    background-color: #0be881;
                    width: fit-content;
                    border-radius: 5px;
                    padding: 0 5px;
                    margin-top: 1px;
                }
            }
        }
    }
}

.thirdGroup, .fourthGroup {
    justify-content: space-between;
    margin-left: 1.5%;
    .totalBillText {
        margin-right: 5%;
        align-self: center;
        display: flex;
        font-size: 1.2rem;
        span {
            padding: 0 5px;
        }
    }
}

.fifthGroup {
    justify-content: space-between;
    div{
        margin: 0 1.5%;
    }
}

.hided {
    display: none;
}

.greyBG {
    background-color: #bdc3c7;
}

.hBody {
    .hBillContainer {
        position: relative;
        min-height: 730px;
        width: 100%;

        .hListBill {
            width: 100%;
            display: flex;
            flex-direction: column;

            .hItem {
                border: 1px solid black;
                width: 90%;
                margin: 20px auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 10px;
                border-radius: 10px;

                .payBillBorder {
                    margin-top: 15px;
                    width: 100%;

                    img {
                        max-width: 100%;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }

                .extendPayBill {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 5px auto;

                    img {
                        width: 10%;
                        height: 25px;
                    }

                    span {
                        width: 100%;
                        padding: 10px;
                        background-color: #3498db;
                        border-radius: 10px;
                        color: #ecf0f1;
                        text-align: center;
                    }
                }

                .hItemStatus {
                    span {
                        padding: 0 10px;
                        font-weight: 600;
                    }
                }

                .hItemContent {

                    .hItemInfo {
                        border-bottom: 1px dashed #f04d4d;
                        width: 100%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;

                        .hItemName {
                            width: 60%;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        .hItemTitleName {
                            width: 60%;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }

                        .hItemQuantity {
                            min-width: 71px;
                            width: 10%;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            text-align: center;
                        }

                        .hItemTitleQuantity {
                            min-width: 71px;
                            width: 10%;
                            font-weight: 600;
                            margin-bottom: 5px;
                            text-align: center;
                        }

                        .hItemOption {
                            width: 30%;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            text-align: center;
                        }

                        .hItemTitleOption {
                            width: 30%;
                            font-weight: 600;
                            margin-bottom: 5px;
                            text-align: center;

                            span {
                                div {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .hItemDetailWrapper {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;

                    // text-decoration: line-through;
                    .hItemDetail {
                        div {
                            margin-bottom: 10px;
                        }
                    }
                }

                .hItemTotalPrice {
                    margin-right: 5px;
                }
            }

            .CANCEL {
                background-color: #bdc3c7;
            }

            .COMPLETED {
                background-color: #ecf0f1;
            }

            .hItemButtonGroup {
                display: flex;
                width: 100%;
                margin: 10px auto;
                justify-content: space-between;

                div {
                    width: 50%;
                }

                button {
                    border: none;
                    width: 100%;
                    padding: 15px 0;
                    background-color: #f04d4d;
                    color: #fff;
                    border-radius: 8px;
                }

                .cancelBillButton {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .readyBillButton {
                    background-color: #1BAC4B;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                #PayButton {
                    background-color: #3498db;
                    color: #000;
                }
            }
        }

    }

    .hCallStaffContainer {
        min-height: 730px;
        // width: 40%;
        // width: 35%;
        // overflow-y: scroll;
        padding-bottom: 50px;

        .hAllNotification {
            // overflow-x: hidden;
            // overflow-y: auto;

            .hEmptyNotification {
                font-size: 1.2rem;
                margin-top: 15px;
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
            }

            .hNotification {
                position: relative;
                display: flex;
                justify-content: space-around;
                width: 90%;
                height: 80px;
                border: 1px solid black;
                align-items: center;
                // margin-top: 5%;
                margin: 5% auto 0 auto;
                font-size: 1.2rem;
                border-radius: 15px;
                font-weight: 600;

                .hInfo {
                    :last-child {
                        font-size: 1rem;
                        word-break: normal;
                    }
                }

                .redDot {
                    width: 14px;
                    height: 14px;
                    background-color: #f04d4d;
                    border-radius: 50%;
                    position: absolute;
                    // margin-left: -215px;
                    left: 3%;
                }

                .redDotHided {
                    display: none;
                }
            }
        }
    }
}