@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;0,700;0,800;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;1,100;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #333;
}

html {
    font-size: 62.5%;
    background-color: #fff;
}

body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: #000;
}

/* Rest of your CSS rules... */

/* Apply a global style to hide the default scrollbars on all elements */
::-webkit-scrollbar {
    width: 0.5em; /* Set the width of the default scrollbar (optional) */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Set the color of the thumb (optional) */
  }
  
  /* Apply the overlay scrollbar style to the specific div where you want to hide the scrollbar */
  .scrollable-div {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; /* Only show vertical scrollbar when needed */
    scrollbar-width: thin; /* Hide the default scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the default scrollbar in IE and Edge */
  }
  
  /* Hide the default scrollbar in WebKit-based browsers (Chrome, Safari, Opera) */
  .scrollable-div::-webkit-scrollbar {
    display: none;
  }
  